# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
override.tf
override.tf.json
crash.log

# Terraform lockfile is usually committed, but ignore local variations:
.terraform.lock.hcl

# Local IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Environment
.env
.env.*

# Kubernetes
.kube/

# Python
__pycache__/
*.pyc
*.pyo

# Node
node_modules/

# Logs
*.log
